<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Replacements" type="FizzBuzzRunner.Configuration.ReplacementsConfigurationSection, FizzBuzzRunner"/>
  </configSections>
  <Replacements>
    <ReplacementItems>
      <add divisor="3" replacementString="Fizz" />
      <add divisor="5" replacementString="Buzz" />
      <add divisor="8" replacementString="Qux" />
      <!--<add divisor="blah" replacementString="Sample" />-->
    </ReplacementItems>
  </Replacements>
</configuration>